<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses tracker</title>
    <script>
      document.addEventListener('DOMContentLoaded', ()=> {
        window.localStorage.setItem('token', "{{token}}");
      });
    </script>
</head>
<body class="d-flex flex-column min-vh-100">
    <div class="d-flex flex-column justify-content-center">
        <h3 class="ml-5">Welcome, {{user.name}} </h3>
        <h3 class="ml-5">Your current balance is: $ 
          {{#if balance}} 
          {{balance}} 
          {{else}}
          0 
          {{/if}}
        </h3>
        <h5 class="ml-5 mt-3">Last records:</h5>
        
        <table class="table table-hover">
          <thead class="thead-light mt-2">
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Type</th>
              <th scope="col">Amount</th>
              <th scope="col">Category</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {{#each transactions}}
            <tr>
              <th scope="row">{{this.date}}</th>
              <td>{{this.type}}</td>
              <td>{{this.amount}}</td>
              <td>{{this.category}}</td>
              <td class="d-flex flex-column flex-lg-row flex-xl-row gap-1">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#updateRecord">Edit</button>
                <button type="button" class="btn btn-danger">
                  <a href="/transactions/delete/{{this.id}}" class="text-decoration-none text-white color-light deleteButton">Delete</a>
                </button>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        
      <!-- First modal, for the creation of a new record -->
        {{>createModal}}

        <!-- Second modal, for updating a record -->
        {{>updateModal}}
        

    </div>
</body>
<script>
  function getHeaders(){
    const token = localStorage.getItem('token');
    return {
          'Authorization': 'Bearer ' + token
      }
  }

  document.getElementById("createRecord").addEventListener("click", createRecord);

  async function createRecord(e){
    e.preventDefault();
    const isValidType = type.checkValidity();
    const isValidAmount = amount.checkValidity();
    const isValidCategory = category.checkValidity();
    const isValidDate = date.checkValidity();

    if (isValidAmount && isValidType && isValidCategory && isValidDate){
      const url = "http://localhost:4000/transactions/create";
      let type = document.getElementById('type').value
      let amount = document.getElementById('amount').value
      let category = document.getElementById('category').value
      let date = document.getElementById('date').value
      await fetch(url, {
          method: 'POST',
          body: JSON.stringify({
            type,
            amount,
            category,
            date
          }),
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token'),
            'Content-Type': 'application/json'
          }
      })
          .then(res => res.json())
          .then(res => {
            return window.location.reload(); 
          })
          .catch(err => console.log(err));
    } else {
      alert("All fields are required");
    }
  }


  document.getElementById("updateButton").addEventListener("click", updateBtn);

  function updateBtn(e){
    e.preventDefault();
    let type = document.getElementById('newType').value
    let amount = document.getElementById('newAmount').value
    let category = document.getElementById('newCategory').value
    let date = document.getElementById('newDate').value
    const url = document.getElementById('updateForm').action
    fetch(url, {
        method: 'PUT',
        body: JSON.stringify({
          type,
          amount,
          category,
          date
        }),
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
          'Content-Type': 'application/json'
          }
    })
        .then(res => res.json())
        .then(data => {
            console.log(data)
            window.location.reload();
        })
        .catch(err => { console.log(err) })
  };

  document.querySelectorAll("a.deleteButton").forEach(item => {
    item.addEventListener("click", deleteButton)});
  async function deleteButton(e){
    e.preventDefault();
    const url = this.href;
    await fetch(url, {
        method: 'DELETE',
        headers: getHeaders()
    })
        .then(res => res.json())
        .then(data => {
          return window.location.reload();
        })
        .catch(err => console.log(err));
  };
</script>
</html>